@use 'mixins/mixins.scss' as *;
@keyframes transform {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@include b(icon) {
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  svg.loading {
    animation: transform 1.1s cubic-bezier(0.4, 0, 0.2, 0.5) infinite both;
  }
}