.row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.vp-doc .icon-list {
  display: grid;
  padding-left: 0;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  li {
    list-style: none;
    width: 128px;
    height: 90px;
    font-size: 12px;
  }
  .icon-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
